<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nice to meet you!</h2>
                <hr class="light">
                <p class="text-faded">I'm Shane, a Sarasota based software engineer and web-developer. When I'm not guzzling coffee and writing code, I spend most of my time picking things up and putting them down and reading about Bioinformatics research.</p>
            </div>
        </div>
    </div>
</section>
