<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Your pain free introduction to Bioinformatics!</h2>
                <hr class="light">
                <p class="text-faded">shinyLimma has everything you need to start doing differential expression in no time - no knowledge of coding required! Once you're done, just download the code shinyLimma produced and you can share it with the bioinformatics community at large.</p>
            </div>
        </div>
    </div>
</section>
