<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Citing Instructions:</h2>
                <hr class="light">
                <p class="text-faded">shinyLimma is provided free of charge. If you use it, I only ask that you please cite/attribute any work you do with the application to this page, allowing more people to learn of it and use it.</p>
            </div>
        </div>
    </div>
</section>
