<section class="bg-primary" id="about">
    <div class="container">
    	<h1 class="text-faded"> Cool, but how does it work?</h1>

        <p class ="text"> shinyLimma is based on the very powerful, and very popular  <a href = "https://www.bioconductor.org/packages/3.3/bioc/vignettes/limma/inst/doc/usersguide.pdf">Limma</a> package.</p> 

        <p class = "text">If you're interested in learning more about my motivation for making it, you can check out my blog entry on it <a href = "http://shanecaldwell.info/2015/02/06/shinyLimma.html">here</a>. </p>

        <p class = "text"> I think this website looks pretty, and hosting the entire thing here would really muck it up, so you can find the manual (rendered in an easy-on-the-eyes markdown document) <a href = "https://shanecaldwell.info/SL_manual"> here</a>.</p>

    </div>

</section>
