<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">shinyLimma is...</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-leaf wow bounceIn text-primary"></i>
                    <h3>Lightweight</h3>
                    <p class="text-muted">Being a single paged application makes this easy to host on a server or use on your own machine</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Reproducible</h3>
                    <p class="text-muted">One click downloads the code produced by your shinyLimma session, making your results easy to reproduce and share</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-smile-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Easy To Use</h3>
                    <p class="text-muted">Perfect for an introduction to Bioinformatics</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Open Source</h3>
                    <p class="text-muted">Extend the project and edit it to make it suit your needs - there's nothing you can't make yours</p>
                </div>
            </div>
        </div>
    </div>
</section>
